
:root{
  --black:#434343;
  --white:#f1f1f1;
  --white01:#fafafa;
  --green:#00be16;
  --yellowshade:rgba(218, 155, 18, 0.05);
  --greenshade:rgba(0, 190, 22, 0.05);
  --blueshade:rgba(52, 18, 218, 0.05);
  --darkgray:#a6a6a6;
  --red:#da1912;
  --primary:#0b445f;
  --primary-hover:#09374c;
}



#root {
  max-width: 1480px;
  margin: 0 auto;
}

button{
  cursor: pointer;
}

h4{
  font-weight: 600 !important;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;     /* Thin vertical scrollbar */
  height: 6px;    /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* or a light gray like #f0f0f0 */
}

::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;     /* Scrollbar color */
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a4;
}

/* For Firefox */
* {
  scrollbar-width: thin;            /* 'auto' | 'thin' | 'none' */
  scrollbar-color: #b4b4b4 transparent; /* thumb | track */
}




.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.95rem 1.75rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  border: 2px solid var(--primary);
  cursor: pointer;
}
.btn-primary:hover{
  background-color: var(--primary-hover);
}

.btn-primary-sm {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 1.25rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  border: 2px solid var(--primary);
  cursor: pointer;
  font-size: .7rem;
}
.btn-primary-sm:hover{
  background-color: var(--primary-hover);
}
.btn-primary-outlined-sm {
  background-color: var(--white01);
  color: var(--primary);
  padding: 0.5rem 1.25rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  border: 2px solid var(--primary);
  cursor: pointer;
  font-size: .7rem;
}
.btn-primary-outlined-sm:hover{
  border: 2px solid var(--primary-hover);
}

.text-primary{
  color: var(--primary) !important;
}
.bg-primary {
  background-color: var(--primary);
}

.hyperlink{
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
}
.hyperlink:hover{
 text-decoration: underline;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
}


/* Include this in your global stylesheet or component module */
.wiggle {
  transition: transform 0.15s ease-in-out;
}

.wiggle:hover {
  animation: wiggle-icon 0.3s ease-in-out;
}

@keyframes wiggle-icon {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-10deg); }
  50%  { transform: rotate(10deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
